# This is the set of Python packages that will get pip installed
# at startup of the Amazon SageMaker endpoint or batch transformation. 
Pillow
scikit-learn
pandas
numpy
tensorflow==2.5.3
boto3==1.18.4
sagemaker-experiments
matplotlib==3.4.2
